#lightbox-image {
  width: auto;
  height: 400px;
  /* transform: translateY(50%); */
  /* position: absolute;
  bottom: 50%; */
}

.lightbox {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
}

.gallery {
  background-color: yellow;
  display: flex;
  justify-content: center;
  gap: 15px;
  transform: translateY(50%);
  position: absolute;
  bottom: 50%;
}

.gallery-item {
  width: 500px;
  height: auto;
  background-position: center;
  background-size: cover;
}

#close-btn {
  width: 30px;
  justify-self: start;
  height: 30px;
  position: relative;
  top: -215px;
  background-color: black;
  color: white;
  border-radius: 10px;
  border-color: white;
  border-style: solid;
  transition: background-color 0.2s linear;
}

#close-btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}
