.lightbox {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.386);
}

.gallery {
  background-color: yellow;
  display: flex;
  justify-content: center;
  gap: 15px;
  transform: translateY(50%);
}

.gallery-item {
  width: 350px;
  height: 400px;
  background-position: center;
  background-size: cover;
}

.one {
  background-image: url("https://cdn.freecodecamp.org/curriculum/labs/stonehenge-thumbnail.jpg");
}

.two {
  background-image: url("https://cdn.freecodecamp.org/curriculum/labs/storm-thumbnail.jpg");
}

.three {
  background-image: url("https://cdn.freecodecamp.org/curriculum/labs/trees-thumbnail.jpg");
}
