#lightbox-image {
  width: 1400px;
  height: auto;
  transform: translateY(50%);
  margin: 0px auto;
  position: absolute;
  bottom: 50%;
}

.lightbox {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: none;
  /* display: flex;
  justify-content: center; */
}

.gallery {
  background-color: yellow;
  display: flex;
  justify-content: center;
  gap: 15px;
  transform: translateY(50%);
  position: absolute;
  bottom: 50%;
}

.gallery-item {
  width: 500px;
  height: auto;
  background-position: center;
  background-size: cover;
}
